<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅館掲示板</title>
    <link rel="stylesheet" href="<%= asset_path('style.css') %>">
    <h1>子供のホテル</h1>
</head>
<body>
    <main>
        <section class="posts-list">
            <h2>投稿一覧</h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 旅館掲示板</p>
    </footer>
</body>
</html>
